# Node modules
node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log*
.env
.env.*.local

# macOS system files
.DS_Store

# IDEs and editors
.vscode/
.idea/
*.iml

# Logs
*.log
*.tsbuildinfo

# React Native / Metro / Bundler
.expo/
.expo-shared/
dist/
.rncache/
.tmp/
tmp/
.bundle/
*.swp
*.swo
*.orig

# Watchman
.watchmanconfig

# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/local.properties

# iOS build artifacts
ios/build/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace/
ios/*.xcuserstate
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Testing
coverage/
*.spec.ts.snap
*.test.ts.snap

# Misc
*.keystore
*.jks
